@font-face {
    font-family: 'Rubik-regular';
    src: url('/fonts/rubik-regular.ttf') format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Rubik-regular', sans-serif;
    background-color: #ffffff;
}

#screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#screen #mach {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border: solid black 0.125em;
    border-radius: 1em;
    padding: 2em;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mach h1 {
    margin-bottom: 1em;
    font-size: 1.5em;
}

#mach input[type="text"] {
    font-size: 16px;
    padding: 0.5em;
    border: 1px solid #000;
    border-radius: 0.5em;
    width: 80%;
    margin-bottom: 1em;
}

#mach button {
    font-size: 16px;
    border-radius: 6em;
    border: 1px solid black;
    color: black;
    background-color: aqua;
    padding: 0.25em;
    width: 6em;
    cursor: pointer;
}

#mach button:hover {
    background-color: rgb(130, 255, 255);
}
@font-face {
    font-family: 'Rubik-regular';
    src: url('/fonts/rubik-regular.ttf') format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Rubik-regular', sans-serif;
    background-color: #ffffff;
}

#screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#screen #mach {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border: solid black 0.125em;
    border-radius: 1em;
    padding: 2em;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mach h1 {
    margin-bottom: 1em;
    font-size: 1.5em;
}

#mach input[type="text"] {
    font-size: 16px;
    padding: 0.5em;
    border: 1px solid #000;
    border-radius: 0.5em;
    width: 80%;
    margin-bottom: 1em;
}

#mach button {
    font-size: 16px;
    border-radius: 6em;
    border: 1px solid black;
    color: black;
    background-color: aqua;
    padding: 0.25em;
    width: 6em;
    cursor: pointer;
}

#mach button:hover {
    background-color: rgb(130, 255, 255);
}
@font-face {
    font-family: 'Rubik-regular';
    src: url('/fonts/rubik-regular.ttf') format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Rubik-regular', sans-serif;
    background-color: #ffffff;
}

#screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#screen #mach {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border: solid black 0.125em;
    border-radius: 1em;
    padding: 2em;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mach h1 {
    margin-bottom: 1em;
    font-size: 1.5em;
}

#mach input[type="text"] {
    font-size: 16px;
    padding: 0.5em;
    border: 1px solid #000;
    border-radius: 0.5em;
    width: 80%;
    margin-bottom: 1em;
}

#mach button {
    font-size: 16px;
    border-radius: 6em;
    border: 1px solid black;
    color: black;
    background-color: aqua;
    padding: 0.25em;
    width: 6em;
    cursor: pointer;
}

#mach button:hover {
    background-color: rgb(130, 255, 255);
}
